DATABASE_URL=postgres://lorehub:lorehub@127.0.0.1:5432/lorehub
GOOGLE_CLIENT_ID=REPLACE_ME.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=REPLACE_ME
LOREHUB_PUBLIC_URL=http://127.0.0.1:8080
LOREHUB_BIND=127.0.0.1:8080
LOREHUB_AUTH_BIND=127.0.0.1:8081
LOREHUB_RUNNER_RELEASES_DIR=deploy/runner-releases
LOREHUB_WORK_DIR=.work
LOREHUB_RUNNER_NAME=compose-linux-runner-01
LOREHUB_AUTO_UPDATE=true
LOREHUB_UPDATE_INTERVAL_SECONDS=300
RUNNER_DATABASE_URL=postgres://lorehub:lorehub@host.docker.internal:5432/lorehub
LORE_RUNNER_PLATFORM=linux/amd64
LORE_BIN=lore
LORE_SERVER_URL=lores://lorehub.example.com:41337
LORE_SERVER_PUBLIC_URL=lores://lorehub.example.com:41337
LORE_JWT_PRIVATE_KEY=deploy/secrets/lore-jwt-private.pem
LORE_JWT_JWKS=deploy/secrets/lore-jwks.json
LORE_SOURCE_DIR=../lore
LORE_SERVER_PLATFORM=linux/amd64
LORE_SERVER_BIND_IP=127.0.0.1
S3_ENDPOINT=https://s3.ap-northeast-2.amazonaws.com
S3_BUCKET=zenogrid-lore
S3_ACCESS_KEY_ID=key-id
S3_SECRET_ACCESS_KEY=access-key
S3_REGION=ap-northeast-2
LORE_DYNAMODB_FRAGMENTS_TABLE=lorehub-fragments
LORE_DYNAMODB_FRAGMENT_STATE_TABLE=lorehub-fragment-state
LORE_DYNAMODB_MUTABLE_TABLE=lorehub-mutable
LORE_DYNAMODB_LOCKS_TABLE=lorehub-locks
